.input {
    width: 100%;
}

form {
    display: flex;
    justify-content: space-between;
}

form input {
    background-color: var(--gray-500);
    width: 80%;
    padding: 1.4em;
    border: 0;
    border-radius: 8px;
    color: var(--gray-300);
}

form input::placeholder {
    font-size: 1.2em;
}

form button {
    background: var(--blue-purple);
    padding: 1.4em 2.4em;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}