.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6em;
    background-color: var(--gray-400);
    border-radius: 8px;
}

.task + .task {
    margin-top: 1em;
}

.checkbox input {
    display: none;
}

.checkbox label {
    color: var(--gray-100);
    margin: 0 1em;
}

.checkbox label:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--blue);
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.checkbox label::before {
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
    background-image: url(../assets/checked.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.task button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--gray-300);
    margin-right: .7em;
    border-radius: 8px;
}

.task button:hover {
    color: var(--danger );
}

